input[type="checkbox"] {
  appearance: none;

  margin: 0 16px;

  height: 16px;
  width: 16px;

  border: 2px solid $text-unchecked;
  border-radius: 2px;

  transition: all 500ms ease;

  + label {
    color: $text-unchecked;
    transition: all 500ms ease;

    &:hover {
      color: $text-hovered;
    }
  }

  &:hover {
    background-color: darken($primary, 20%);
    border: 2px solid $text-hovered;
  }

  &:checked {
    background-color: $primary;
    border: 2px solid $text-color;
  }

  &:checked + label {
    color: $primary;
  }
}
